[submodule "libs/util"]
	path = libs/util
	url = git@github.com:HKhademian/AndroidLibUtil.git

[submodule "libs/firebase"]
	path = libs/firebase
	url = D:\\Repository\\Android\\LibFirebase.git

[submodule "libs/fcm"]
	path = libs/fcm
	url = D:\\Repository\\Android\\LibFCM.git

[submodule "libs/pushe"]
	path = libs/pushe
	url = D:\\Repository\\Android\\LibPushe.git

[submodule "libs/appbrain"]
	path = libs/appbrain
	url = git@github.com:HKhademian/AndroidLibAppBrain.git

[submodule "libs/adad"]
	path = libs/adad
	url = git@github.com:HKhademian/AndroidLibAdad.git

[submodule "libs/magnet"]
	path = libs/magnet
	url = git@github.com:HKhademian/AndroidLibMagnet.git
